body {
  margin: 0px;
  padding: 0px;
  background-size: 100%;
  background-image: url(images/universo.png);
 
}
header {
  padding: 10px;
}
 h1 {
  color:white;
  font-family: 'Roboto', sans-serif;
}

.links {
  position: absolute;
  top: 0;
  right: 0;
  padding: 30px;
}

.links a {
  margin-left: 10px;
  font-size:x-large;
  color: white;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}
.links a:hover {
  color: #f6ea01;

}

.inform{
  color:white;
  width: 400px;
  text-align:justify;
 margin-left:20px;
  line-height: 2;
  font-family: 'Roboto', sans-serif;
}
.reason{
  color:white;
  width: 50%; 
  margin: 0 auto;
  margin-top: 200px;
  font-family: 'Roboto', sans-serif;
  text-align:justify;
}

.sun {
  height: 120px;
  width: 130px;
  background-image: url(images/sol.png);
  background-size: cover;
  border-radius: 50%;
  margin-left: 120px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.mercury {
  height: 20px;
  width: 20px;
  background: #a94c2b;
  border-radius: 50%;

  position: absolute;
  left: 43%;
  top: 42%;
  transform: translate(-50%, -50%);
  animation: orbit2 2s linear infinite;
}
@keyframes orbit2 {
  from {
    transform: rotate(0deg) translateX(70px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(70px) rotate(-360deg);
  }
}
p {
  color: white;
  font-family: system-ui;
  position: absolute;
  left: -62px;
  top: -11px;
}
.mercury-outline,
.venus-outline-1,
.earth-outline-1,
.mars-outline-1,
.jupiter-outline-1,
.saturn-outline-1,
.uranus-outline-1,
.neptune-outline-1 {
  border-radius: 50%;
  border: 1px dotted #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 120px;

}
.mercury-outline {
  height: 140px;
  width: 140px;
}
.venus {
  height: 40px;
  width: 40px;

  border-radius: 50%;
  background-image: url(images/venus.png);
  background-size: cover;
  position: absolute;
  left: 40%;
  top: 42%;
  transform: translate(-50%, -50%);
  animation: orbit3 10s linear infinite;
}
@keyframes orbit3 {
  from {
    transform: rotate(0deg) translateX(100px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(100px) rotate(-360deg);
  }
}
.venus-outline-1 {
  height: 200px;
  width: 200px;
}
.earth {
  height: 50px;
  width: 50px;
  background-image: url(images/terra.png);
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  left: 44%;
  top: 43%;
  transform: translate(-50%, -50%);
  animation: orbit4 20s linear infinite;
}
@keyframes orbit4 {
  from {
    transform: rotate(0deg) translateX(150px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(150px) rotate(-360deg);
  }
}
.earth-outline-1 {
  height: 300px;
  width: 300px;
}
.mars {
  height: 30px;
  width: 30px;
  background-image: url(images/marte.png);
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  left: 46.5%;
  top: 46.5%;
  transform: translate(-50%, -50%);
  animation: orbit5 30s linear infinite;
}
@keyframes orbit5 {
  from {
    transform: rotate(0deg) translateX(185px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(185px) rotate(-360deg);
  }
}
.mars-outline-1 {
  height: 370px;
  width: 370px;
}

.jupiter {
  height: 60px;
  width: 60px;
  background-image: url(images/jupiter.png);
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  left: 45%;
  top: 45%;
  transform: translate(-50%, -50%);
  animation: orbit6 60s linear infinite;
}
@keyframes orbit6 {
  from {
    transform: rotate(0deg) translateX(215px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(215px) rotate(-360deg);
  }
}
.jupiter-outline-1 {
  height: 430px;
  width: 430px;
}
.saturn {
  height: 90px;
  width: 90px;
  background-image: url(images/saturno.png);
  background-size: contain;
  border-radius: 50%;
  position: absolute;
  left: 40%;
  top: 45%;
  transform: translate(-50%, -50%);
  animation: orbit7 90s linear infinite;
}
@keyframes orbit7 {
  from {
    transform: rotate(0deg) translateX(245px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(255px) rotate(-360deg);
  }
}
.saturn-outline-1 {
  height: 500px;
  width: 500px;
}
.uranus {
  height: 35px;
  width: 35px;
  background-image: url(images/urano.png);
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  left: 48%;
  top: 48%;
  transform: translate(-50%, -50%);
  animation: orbit8 200s linear infinite;
}
@keyframes orbit8 {
  from {
    transform: rotate(0deg) translateX(280px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(280px) rotate(-360deg);
  }
}
.uranus-outline-1 {
  height: 560px;
  width: 560px;
}
.neptune {
  height: 30px;
  width: 30px;
  background-image: url(images/netuno.png);
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  left: 48%;
  top: 48%;
  transform: translate(-50%, -50%);
  animation: orbit9 400s linear infinite;
}
@keyframes orbit9 {
  from {
    transform: rotate(0deg) translateX(310px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(310px) rotate(-360deg);
  }
}
.neptune-outline-1 {
  height: 620px;
  width: 620px;
}

.bodyquiz {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.form-container {
  max-width: 500px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.form-container h1 {
  text-align: center;
 color:black
}

.form-container .question {
  margin-bottom: 20px;
}

.form-container input[type="radio"] {
  margin-right: 5px;
}
.form-container #results {
  text-align: center;
}
